h1{text-decoration: underline; color: black; background-color:aquamarine; width: 550px}
table th, td {border: 1px solid; margin: 1px solid; padding: 2px;}
td {text-align: center;}
botten {color: black; background-color: blue;}
body{background-color: powderblue;}