body{background-color: white; text-align: center;}
p{text-decoration: underline;}
h1{text-decoration: underline;}
table th, td {border: 1px solid; margin: 1px solid; padding: 2px;-o-table-baseline: initial;}
td {text-align: center;}